* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #923a00;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 100%;
    border: 10px solid #ccc;
    border-top: 10px solid #f39c12;
    border-left: 10px solid #d35400;
    border-bottom: 10px solid #f39c12;
    border-right: 10px solid #d35400;
    border-width: 50px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

li:nth-child(1) {
    background: #f1c40f;
    transform: translate(-50%, -50%);
}
li:nth-child(2) {
    background: #e67e22;
    transform: translate(50%, -50%);
}
li:nth-child(3) {
    background: #e74c3c;
    transform: translate(-50%, 50%);
}
li:nth-child(4) {
    background: #c0392b;
    transform: translate(50%, 50%);
}

ul.circle1 {
    animation: animate1 10s linear infinite;
}
ul.circle2 {
    animation: animate2 15s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) rotate(180deg) scale(1.5);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) scale(1);
    }
}
@keyframes animate2 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) rotate(-180deg) scale(0.5);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg) scale(1);
    }
}
